<!DOCTYPE html>
<meta charset="utf-8" />
<link rel="stylesheet" href="styles/elegant-press.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
<script src="scripts/elegant-press.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="swim.css">
<!--[if IE]><style>#header h1 a:hover{font-size:75px;}</style><![endif]-->
</head>
<body>
  <div id='cssmenu'>
  <ul>
     <li class='active '><a href='index.html'><span>Home</span></a></li>
     <li class='has-sub '><a href='products.html'><span>Products</span></a>
        <ul>
           <li><a href='products/swim_suits.html'><span>Swim Suits</span></a></li>
           <li><a href='products/bottoms.html'><span>Bottoms</span></a></li>
           <li><a href='products/coverups.html'><span>Coverups</span></a></li>
           <li><a href='products/hats_and_scarves.html'><span>Hat/Scarves</span></a></li>
           <li><a href='gallery.html'><span>Gallery</span></a></li>
           <li><a href='products/towels.html'><span>Towels</span></a></li>
           <li><a href='products/bags.html'><span>Bags</span></a></li>
           <li><a href='products/slippers.html'><span>Slippers</span></a></li>
           <li><a href='products/body_care.html'><span>Body Care</span></a></li>
           <li><a href='products/lotions.html'><span>Lotions</span></a></li>
        </ul>
     </li>
     <li><a href='gallery.html'><span>Gallery</span></a></li>
     <li><a href='legal.html'><span>Legal</span></a></li>
     <li><a href='blog.html'><span>Blog</span></a></li>
     <li><a href='videos.html'><span>Videos</span></a></li>
     <li><a href='sizing.html'><span>Sizing</span></a></li>
     <li><a href='about.html'><span>About</span></a></li>
     <li><a href='contact.html'><span>Contact</span></a></li>
  </ul>
  </div>

<div id="gallery" class="box">
    <ul>
      <li><a data-gal="prettyPhoto[gallery2]" href="images/swim_1.jpg" title="Image 1"><img src="images/swim_1.jpg" width="260" height="190" alt="" /></a></li>
      <li><a data-gal="prettyPhoto[gallery2]" href="images/swim_2.jpg" title="Image 2"><img src="images/swim_2.jpg" width="260" height="190" alt="" /></a></li>
      <li class="last"><a data-gal="prettyPhoto[gallery2]" href="images/swim_3.jpg" title="Image 3"><img src="images/swim_3.jpg" width="260" height="190" alt="" /></a></li>
    </ul>
    <br class="clear" />
</div>

<div class="nava_div">
<h1 class="home_page_nava">NAVA SwimWear</h1>
</div>
</body>
</html>
