<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="swim.css">
</head>
<html>
<body>
  <div id='cssmenu'>
  <ul>
     <li class='active '><a href='index.html'><span>Home</span></a></li>
     <li class='has-sub '><a href='products.html'><span>Products</span></a>
        <ul>
           <li><a href='products/swim_suits.html'><span>Swim Suits</span></a></li>
           <li><a href='products/bottoms.html'><span>Bottoms</span></a></li>
           <li><a href='products/coverups.html'><span>Coverups</span></a></li>
           <li><a href='products/hats_and_scarves.html'><span>Hat/Scarves</span></a></li>
           <li><a href='gallery.html'><span>Gallery</span></a></li>
           <li><a href='products/towels.html'><span>Towels</span></a></li>
           <li><a href='products/bags.html'><span>Bags</span></a></li>
           <li><a href='products/slippers.html'><span>Slippers</span></a></li>
           <li><a href='products/body_care.html'><span>Body Care</span></a></li>
           <li><a href='products/lotions.html'><span>Lotions</span></a></li>
        </ul>
     </li>
     <li><a href='gallery.html'><span>Gallery</span></a></li>
     <li><a href='legal.html'><span>Legal</span></a></li>
     <li><a href='blog.html'><span>Blog</span></a></li>
     <li><a href='videos.html'><span>Videos</span></a></li>
     <li><a href='sizing.html'><span>Sizing</span></a></li>
     <li><a href='about.html'><span>About</span></a></li>
     <li><a href='contact.html'><span>Contact</span></a></li>
  </ul>
  </div>

<div class="main_product_div">
<div class="product"><input type="hidden" class="product-title" value="Google T-Shirt"><select class="product-attr-custom"><option value="Small" googlecart-set-product-price="149.00" selected="selected">Small - USD149.00</option><option value="Medium" googlecart-set-product-price="149.99">Medium - USD149.99</option><option value="Large" googlecart-set-product-price="149.99">Large - USD149.99</option></select><input type="hidden" class="product-price" value="149.00"><div class="googlecart-add-button" tabindex="0" role="button" title="Add to cart"></div></div>
</div>

<div class="nava_div">
<h1 class="home_page_nava">NAVA SwimWear</h1>
</div>

<script  id='googlecart-script' type='text/javascript' src='https://checkout.google.com/seller/gsc/v2_2/cart.js?mid=128407162784048' integration='jscart-wizard' post-cart-to-sandbox='false' currency='USD' productWeightUnits='LB'></script>
</body>
</html>